{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"group":"doc","deltas":[{"start":{"row":0,"column":0},"end":{"row":7,"column":0},"action":"insert","lines":["node_modules","dist","test/temp",".sass-cache","app/bower_components",".tmp","test/bower_components/",""]}]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":7,"column":0},"end":{"row":7,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1419040516366,"hash":"3abfa7b7f2daadbe1a8fb24eb11f6b217af56c8d"}